<div class="card d-flex flex-md-row flex-sm-column-reverse justify-content-around p-3">
    <div class=" align-self-start">
       <div class=" d-flex flex-column justify-content-between">
       <div>
        <h3><b>Name : </b>{{product[0].name |titlecase}}</h3>
        <p><b>Description : </b>{{product[0].description}}</p>
        <p><b>Price : </b>{{product[0].price |currency:"INR"}}</p>
       </div>
        <div class="py-4">
            <button class="btn btn-outline-info" routerLink="/product">Go To Product List</button>
        </div>
       </div>
    </div>
    <div>
        <img [src]="product[0].image" width="100%"/>
    </div>
</div>
