<div>
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
                <td>View</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price |currency:'INR'}}</td>
                <td>
                    <div>
                        <button class="btn btn-info px-3 py-2" [routerLink]="'/product-details/'+product.id">View Detail</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
